.modal-backdrop.fade.in {
    z-index: 1;
}

.city-list div.modal-content {
    overflow-y: scroll;
    /*width: 400px;*/
    max-height: 400px;
    margin: 10% 25%;
    /*line-height: 1px;*/
}


/*cities list*/

.city-label {
    padding: 4px 16px;
    color: #3e3e3e;
    background-color: #e8e8e8;
    font-size: 15px;
    line-height: 1.5;
}

.city-input {
    border: 1px solid #c9c9c9;
    border-radius: 2px;
    margin: 0 0 18px;
    padding: 0 16px;
    background-color: #fafafa;
}

.city-name:hover {
    background-color: #EFF7FA;
}

.city-input input {
    /*text-align: center;*/
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 36px;
    width: 70%;
    background-color: #fafafa;
    outline: 0;
    color: black;
}

.city-name {
    color: #3e3e3e;
    cursor: pointer;
}

.all-city-list,
.top-city-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.city-name a.link-city.button-text {
    padding: 12px 16px;
    text-align: left;
    font-size: 15px;
    color: #000000;
}

@media (max-width: 990px) {
    .city-list div.modal-content {
        line-height: 2;
    }
}


/*-------------custom scrollbar---------------------------------*/


/*::-webkit-scrollbar {*/


/*width: 12px;*/


/*}*/


/*::-webkit-scrollbar-track {*/


/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/


/*border-radius: 0px;*/


/*}*/


/*::-webkit-scrollbar-thumb {*/


/*border-radius: 0px;*/


/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/


/*}*/