.main-slider-wrapper,
.main-slider,
.slick-list,
.slick-slide {
    height: 300px;
}

section.main-slider-wrapper.section {
    /*margin-top: 220px;*/
}

@media (max-width:960px) {
    .main-slider-wrapper,
    .main-slider,
    .slick-list,
    .slick-slide {
        height: auto;
    }
}

@media (max-width: 991px) {
    section.main-slider-wrapper.section {
        margin-top: 60px;
    }
}

@media only screen and (min-width: 1200px) {
    section.main-slider-wrapper.section {
        /*margin-top: 170px;*/
    }
}