/* ============
	BASE 
============ */

body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 1.7;
    color: #7e7e7e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 20px;
    margin-top: 0;
    font-weight: 500;
    color: #121212;
}

h1 {
    font-size: 21px;
}

@media (min-width: 480px) {
    h1 {
        font-size: 28px;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 35px;
    }
}

h2 {
    font-size: 23.94px;
}

h3 {
    font-size: 21.9996px;
}

h4 {
    font-size: 20.0004px;
}

h5 {
    font-size: 16.0006px;
}

h6 {
    font-size: 14px;
}

p {
    margin-bottom: 20px;
}

a:active,
a:focus,
a:hover {
    text-decoration: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

.text-danger {
    color: #f33;
}

input.placeholder,
textarea.placeholder {
    color: #464646;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #464646;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #464646;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #464646;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #464646;
}

.dropdown-menu {
    border: 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    padding-top: 30px;
}

.header.affix {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #121212;
}

.content-wrapper {
    position: relative;
    margin-left: 0;
    margin-top: 60px;
}

.content-wrapper .main-slider-wrapper .main-slider .slick-prev {
    left: 20px;
    /*z-index: 100;*/
    z-index: 1;
}

.content-wrapper .main-slider-wrapper .main-slider .slick-prev:before {
    font-family: "FontAwesome";
    content: '\f053';
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.55);
}

.content-wrapper .main-slider-wrapper .main-slider .slick-next {
    right: 20px;
}

.content-wrapper .main-slider-wrapper .main-slider .slick-next:before {
    font-family: "FontAwesome";
    content: '\f054';
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.55);
}

.content-wrapper .main-slider-wrapper .main-slider .item {
    position: relative;
}

.content-wrapper .main-slider-wrapper .main-slider .item img {
    opacity: 0.7;
}

.content-wrapper .main-slider-wrapper .main-slider .item .slider-content-wrap {
    position: absolute;
    text-align: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.content-wrapper .main-slider-wrapper .main-slider .item .slider-content-wrap .slider-mid {
    display: table;
    height: 100%;
    width: 100%;
}

.content-wrapper .main-slider-wrapper .main-slider .item .slider-content-wrap .slider-mid .slider-content {
    vertical-align: middle;
    display: table-cell;
    padding: 10px;
}


/*wrapperr section*/

@media (min-width: 768px) {
    .content-wrapper {
        margin-left: 120px;
    }
    .content-wrapper .main-slider-wrapper .main-slider .item .slider-content-wrap {
        text-align: left;
    }
    .content-wrapper .main-slider-wrapper .main-slider .item .slider-content-wrap .slider-mid .slider-content {
        padding: 0 0 10px 70px;
    }
}

@media (min-width: 991px) {
    .content-wrapper {
        margin-top: 0;
    }
    .sidebar-menu {
        top: 160px;
    }
}

@media (min-width: 1280px) {
    .content-wrapper {
        margin-left: 150px;
    }
}


/*end of wrapperr section*/

.section {
    background: white;
    margin-bottom: 25px;
}

.section .section-body {
    padding: 5px 20px;
}

.section-body h2 {
    text-align: center;
}

.section-body h2:after {
    content: '';
    display: block;
    height: 3px;
    background: #024B68;
    width: 100px;
    margin: 10px auto;
    border-top: 2px solid white;
    border-bottom: 2px solid #024B68;
    border-right: 2px solid #024B68;
    border-left: 2px solid #024B68;
}

.owl-carousel .item .image-thumbnail {
    border: 1px solid #eeeeee;
    margin-bottom: 20px;
}

.owl-carousel .item:hover {
    -webkit-box-shadow: 8px 8px 16px -8px #000000;
    box-shadow: 8px 8px 16px -8px #000000
}

.owl-carousel .item .item-footer {
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.owl-carousel .item .item-footer h4 {
    margin-bottom: 5px;
}

.owl-carousel .item .item-footer p {
    color: #464646;
    font-size: 16px;
}

.owl-carousel .item .item-footer p .price-item {
    font-weight: 600;
}

.owl-carousel .item .item-footer p .default-price {
    text-decoration: line-through;
}

.owl-carousel .owl-nav {
    width: 65px;
    position: absolute;
    top: -45px;
    right: 0;
}

.owl-carousel .owl-nav i {
    font-size: 30px;
}

.owl-carousel .owl-nav .owl-prev {
    float: left;
    margin-right: 5px;
}


/* ============
	Components 
============ */

.btn-primary {
    background: #024b68;
    color: #ffffff;
}

.btn-primary:hover {
    background: #046686;
    color: #ffffff;
}

.btn.btn-white-outline {
    background-color: lightgrey;
    border: 1px solid #fff;
    line-height: 8px;
}

.btn.btn-white-outline:hover {
    background-color: #fff !important;
    color: #024b68 !important;
}

.btn-warning {
    background-color: #f7931e;
}

.btn-gray {
    border-color: #464646;
    color: #464646;
    font-weight: 600;
}

.btn-gray:hover {
    border-color: #7e7e7e;
    color: #7e7e7e;
}

.btn-lg {
    font-size: 14px;
    padding: 10px 15px;
}

@media (min-width: 768px) {
    .btn-lg {
        font-size: 17px;
        padding: 10px 20px;
    }
}

.addToCartBtn {
    width: 50%;
    margin: auto;
    color: #ffffff!important;
    background: #024B68!important;
    border-color: #024b68!important;
}

.addToCartBtn:hover,
.addToCartBtn:active,
.addToCartBtn:focus {
    background: #04668C !important;
    border-color: #04668C!important;
    color: #ffffff!important;
}


/*--------------------- Upload Buttons ----------------------*/

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    top: 8px;
}

.upload-btn-wrapper input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.footer-text-container {
    background: #024B68;
    color: #FFFFFF;
    font-size: smaller;
    text-align: left;
    margin: 10px 40px 10px;
    padding: 10px 30px 30px;
    border-radius: 25px;
}

.footer-head {
    color: #FFFFFF;
    font-weight: 700;
    margin-bottom: 8px;
    margin-top: 20px;
}


/*mobile search form style*/

#wrap {
    display: inline-block;
    position: relative;
    height: 60px;
    float: right;
    padding: 0;
}

#wrap input[type="text"] {
    height: 60px;
    font-size: 25px;
    display: inline-block;
    border: none;
    outline: none;
    color: #FFFFFF;
    padding: 3px;
    padding-right: 60px;
    width: 0;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    z-index: 3;
    -webkit-transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: pointer;
}

#wrap input[type="text"]:focus:hover {
    border-bottom: 1px solid #BBB;
}

#wrap input[type="text"]:focus {
    width: 350px;
    z-index: 1;
    border-bottom: 1px solid #BBB;
    cursor: text;
}

#wrap input[type="submit"] {
    /*height: 67px;*/
    width: 25px;
    display: inline-block;
    color: red;
    float: right;
    background: transparent;
    text-indent: -10000px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    opacity: 0.4;
    -webkit-transition: opacity .4s ease;
    transition: opacity .4s ease;
}

#wrap input[type="submit"]:hover {
    opacity: 0.8;
}

#wrap .search-icon {
    margin-top: 15px;
    margin-right: 10px;
    color: #FFFFFF;
}

#wrap input::-webkit-input-placeholder {
    color: #ffffff;
}

#wrap input:-ms-input-placeholder {
    color: #ffffff;
}

#wrap input::placeholder {
    color: #ffffff;
}


/*custom style added*/

.u_flex-style {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}