@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700");
.text-blue {
  color: #024b68; }

body {
  background-color: #f8f8f8;
  color: #333333; }

.logo {
  margin: 20px auto;
  width: 112px;
  height: 112px; }

.content-container {
  max-width: 620px;
  margin: auto; }

.card {
  margin-bottom: 16px;
  overflow: hidden;
  font-size: 12px;
  border-radius: 0;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); }

.card-header {
  padding-top: 30px;
  font-size: 20px;
  text-align: center;
  color: #071b24;
  overflow: hidden; }

.card-content {
  padding-bottom: 30px;
  padding-left: 60px;
  padding-right: 60px;
  overflow: hidden; }

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"]{
  width: 100%;
  padding: 10px; }

.text-medium {
  font-size: 16px; }

.input-box {
  margin-top: 20px;
  height: 42px;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #e8e8e8; }

.sub-actions {
  padding-top: 10px;
  margin-bottom: 10px; }

.col-xs-6 {
  width: 50%; }

.btn-primary {
  margin-top: 20px;
  color: white;
  background-color: #024b68;
  height: 50px;
  border: none;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  text-transform: uppercase;
  width: 100%; }
  .btn-primary:hover {
    background-color: #046686; }

.sub-container {
  border-radius: 3px;
  margin-top: 20px;
  background-color: #ffffff;
  border: solid 1px #024b68;
  font-size: 16px;
  color: #757575;
  text-align: center;
  padding: 12px; }

.footer-text {
  font-size: 12px;
  color: #999999;
  text-align: center;
  margin-top: 30px; }

.country-code-element {
  padding: 10px 24px;
  background: #eeeeee;
  position: absolute;
  height: 42px;
  margin-top: 20px;
  font-size: 16px;
  z-index: 2;
  color: #999999;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px; }

.terms {
  color: #999999; }

p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px; }

select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #333333;
  width: 220px;
  height: 40px; }

.socialMedia {
  width: 100%;
  color: #ffffff;
  height: 3.125em;
  border-radius: 0; }
  .socialMedia i {
    margin-right: 20px; }
  .socialMedia:hover {
    color: #ffffff; }

.facebook {
  background: #3B5997; }

.google {
  background: #E0483A; }

.forget-content {
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  border: none;
  border-radius: 0;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

.autocompleteForm.table > tbody > tr > td {
  border-top: 0; }

.autocompleteForm label {
  font-size: 16px;
  font-weight: 500; }

body {
  background-color: #f1f1f1; }

.middle {
  width: 100%;
  text-align: center; }
  .middle h1 {
    font-family: "Roboto Mono", monospace;
    color: #007e90; }
  .middle input[type="radio"] {
    display: none; }
    .middle input[type="radio"]:checked + .box {
      background-color: #007e90; }
      .middle input[type="radio"]:checked + .box span {
        color: white;
        -webkit-transform: translateY(70px);
        transform: translateY(70px); }
        .middle input[type="radio"]:checked + .box span:before {
          -webkit-transform: translateY(0px);
          transform: translateY(0px);
          opacity: 1;
          color: white; }
  .middle label:first-of-type {
    margin-right: 15%;
    margin-top: 5%; }
  .middle .box {
    width: 200px;
    height: 200px;
    background-color: #fff;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
    will-change: transition;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    position: relative;
    font-family: "Roboto Mono", monospace;
    font-weight: 500; }
    .middle .box:active {
      -webkit-transform: translateY(10px);
      transform: translateY(10px); }
    .middle .box span {
      position: absolute;
      -webkit-transform: translate(0, 70px);
      transform: translate(0, 70px);
      left: 0;
      right: 0;
      -webkit-transition: all 300ms ease;
      transition: all 300ms ease;
      font-size: 1.5em;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      color: #007e90; }
      .middle .box span:before {
        font-size: 1.2em;
        font-family: FontAwesome;
        display: block;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
        -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
        font-weight: normal;
        color: #007e90; }
  .middle .front-end span:before {
    content: '\f2c0'; }
  .middle .back-end span:before {
    content: '\f0f8'; }

/*# sourceMappingURL=style.css.map */
