.padding-none {
  padding: 0; }

.margin-none {
  margin: 0 !important; }

.padding-l-r-5,
.padding-r-5 {
  padding-right: 5px; }

.padding-l-r-10 {
  padding-right: 10px;
  padding-left: 10px; }

.padding-l-r,
.padding-r {
  padding-right: 10px; }

.padding-all {
  padding: 10px; }

.margin-l-5,
.margin-r-5 {
  margin-right: 5px; }

.size-15 {
  font-size: 15px !important; }

.size-18 {
  font-size: 18px !important; }

.size-26 {
  font-size: 26px !important; }

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 6; }

.navMini {
  height: 30px;
  line-height: 28px;
  width: 100%;
  font-size: 12px;
  top: 0;
  z-index: 100;
  background: #024B68;
  color: #ffffff; }
  .navMini a {
    color: #ffffff;
    margin-left: 0;
    padding: 0 5px; }

.toll-free:before {
  content: '\f095';
  color: #ffffff;
  font-family: 'FontAwesome'; }

nav.navbar.mart-nav {
  height: 60px;
  padding: 0 10px;
  background-color: #04668C;
  color: #fdfffc;
  font-size: 1em;
  border-radius: 0; }
  nav.navbar.mart-nav a {
    color: #fdfffc;
    text-decoration: none;
    padding-top: 17px;
    padding-bottom: 17px; }

.mart-nav .navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 60px;
  padding: 10px !important; }

.navbar-brand,
.navbar-brand.smallnav {
  float: left !important;
  font-size: 18px;
  line-height: 20px;
  height: 70px; }

.inside_mini {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 20px;
  position: relative;
  z-index: 1011;
  height: 60px;
  background-color: #04668C;
  color: #fdfffc;
  font-size: 1em;
  border-radius: 0; }
  .inside_mini a {
    color: #fdfffc; }

.mobile_header-logo-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  z-index: -1; }

.m_header-right,
.m_header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 2; }

.search_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.search_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.search_container button,
.category_container button {
  border: none;
  outline: none;
  background: transparent; }

.category_container button {
  border-radius: 50%;
  background: #cbc2c280;
  height: 30px;
  width: 30px; }

.display-none {
  display: none; }

.m_header-search {
  border-top: none;
  bottom: 0;
  -webkit-box-shadow: 0 2px 1px #dedfe0;
  box-shadow: 0 2px 1px #dedfe0;
  left: 0;
  position: absolute;
  right: 0;
  top: 60px;
  z-index: 2; }

.search_box {
  width: 100%;
  outline: none;
  border: none;
  font-size: 2.5rem;
  text-indent: 10px;
  padding-left: 55px;
  color: #333; }

.search-icon {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 2rem;
  color: #3333; }

.categories {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  font-size: 14px;
  color: #333; }

.categories ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
  width: 210px; }

.categories ul a {
  color: #000; }
  .categories ul a:hover {
    background: #f5f5f5; }
  .categories ul a li {
    padding: 15px 30px 15px 10px;
    border-bottom: 1px solid #3333; }
    .categories ul a li:before {
      content: '\f054';
      font-family: 'FontAwesome';
      color: #3333;
      margin-right: 10px; }

.m_category-header {
  display: block;
  font-weight: 600;
  border-bottom: 2px solid #024b68;
  padding: 0;
  position: relative; }
  .m_category-header .m_category-heading {
    background: #dddddd;
    border: none;
    color: #686f7a;
    display: block;
    font-weight: 400;
    font-size: 18px;
    text-transform: capitalize;
    padding: 15px 20px;
    letter-spacing: 1px; }
    .m_category-header .m_category-heading i {
      position: absolute;
      color: #04668c;
      font-size: 3rem; }
    .m_category-header .m_category-heading .right {
      right: 10%; }
    .m_category-header .m_category-heading .left {
      left: 10%; }

@media (min-width: 768px) {
  .navbar-header {
    float: left; } }
.nav-search {
  width: 50%;
  margin: 10px auto 0 15px !important; }

.nav-search .btnMenu {
  background: #fff;
  color: #656565;
  position: relative; }

header .navbar-nav.navbar-right:last-child {
  margin-right: -10px; }

@media (min-width: 768px) {
  .navbar-nav.navbar-right:last-child {
    margin-right: -15px; }

  .navbar-right {
    float: right !important; } }
@media (min-width: 768px) {
  .print .upload-presc {
    float: right;
    width: 25%;
    text-align: center; }
    .print .upload-presc .action.uppres {
      background: #fff;
      border: 0 none;
      border-radius: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      width: 100%;
      display: block;
      height: 35px;
      line-height: 35px;
      text-decoration: none; } }
@media (max-width: 767px) {
  .visible-xs {
    display: block !important; } }
nav.navbar.mart-nav ul.nav.navbar-nav li a {
  background-color: transparent; }

a.location {
  font-size: 12px;
  line-height: 1;
  margin: 0 20px 0;
  padding: 5px 10px;
  text-decoration: none;
  text-align: center; }

.categories-drpdwn {
  border-radius: 0; }
  .categories-drpdwn li a {
    color: #000000 !important;
    padding-bottom: 12px !important;
    padding-top: 12px !important; }
    .categories-drpdwn li a:hover {
      color: #0493cc !important; }
    .categories-drpdwn li a.active {
      color: #0493cc !important; }

.custom-nav {
  position: absolute;
  background: #FFFFFF;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.3rem; }
  .custom-nav li {
    text-align: center; }
    .custom-nav li a {
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }

nav.menubar {
  font-size: 1em;
  text-transform: uppercase;
  position: relative;
  height: 50px;
  -webkit-box-shadow: 0 0 1px black;
  box-shadow: 0 0 1px black; }

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  left: 0; }

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 500; }
  .location:hover {
    background: none !important; }

.fa-map-marker {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  margin-right: 5px; }

@-webkit-keyframes bounce {
  0%,
    100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); } }
@keyframes bounce {
  0%,
    100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); } }
.mega-menu {
  position: static !important; }

.block {
  display: none; }

.menu-sub {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  position: absolute;
  left: 0;
  background: #024B68;
  width: 100%;
  color: #ffffff;
  padding: 1.5em;
  margin: 0 auto;
  border-bottom: 5px solid #04668C;
  -webkit-animation: slow 0.5s ease-in;
  animation: slow 0.5s ease-in;
  text-align: left; }
  .menu-sub h3 {
    font-size: 2rem !important;
    margin-top: 0.5rem !important;
    color: #ffffff !important;
    margin-bottom: 10px !important;
    text-decoration: underline; }
  .menu-sub li {
    font-size: 1.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .menu-sub li a {
      color: #ECECEC; }
  .menu-sub li:hover a {
    color: #FFFFFF;
    text-decoration: none; }

@-webkit-keyframes slow {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes slow {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
.common:hover .blue {
  background: #024B68;
  color: #ffffff; }

.common:hover .block {
  display: block !important; }

.dropdown-menu.minicart {
  min-width: 350px;
  top: 60px;
  color: #656565;
  background: #ffffff;
  border-color: #04668C; }
  .dropdown-menu.minicart h4 {
    color: #656565; }

@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    left: auto;
    right: 0; } }
.btnLightblue {
  background: #04668C;
  color: #ffffff;
  border-radius: 0; }
  .btnLightblue:hover {
    background: #024B68;
    color: #ffffff; }

@media (max-width: 990px) {
  .mart-nav ul.mobile-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; } }
.ellips {
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.w100 {
  width: 100%; }

.plus,
.minus {
  border: none;
  background: transparent;
  width: 100%; }

/*# sourceMappingURL=navigation.css.map */
